        nav ul {
            list-style: none; /* Remove os marcadores da lista */
            padding: 0;
            margin: 0;
            display: flex; /* Faz os itens ficarem na horizontal */
        }

        nav li {
            margin-right: 20px;
        }

        nav a {
            color: #4b412f; 
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            color: #e3e6c5; 
        }

        nav a:active {
            color: #ffd000;
        }

        nav button {
            color:#e3e6c5
        }
